/* Write your code here. */
.maincontainer {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bottomcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding-left: 0px;
}
.emojilist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
