/* Write your code here. */
@media screen and (max-width: 576px) {
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9796f0;
    height: 10%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 20px;
    height: 20px;
  }
  .logoheading {
    font-size: 10px;
    color: #ffffff;
  }
  .scorecontainer {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .score {
    font-size: 10px;
    margin-right: 30px;
  }
  .topscore {
    font-size: 10px;
  }
}

@media screen and (min-width: 577px) {
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9796f0;
    height: 10%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border: 1px solid;
  }
  .logocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .logoheading {
    font-size: 20px;
    color: #ffffff;
  }
  .scorecontainer {
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .score {
    font-size: 20px;
    margin-right: 30px;
  }
  .topscore {
    font-size: 20px;
  }
}
